[submodule "Finding"]
	path = Finding
	url = https://github.com/sarang628/Finding.git
[submodule "Map"]
	path = Map
	url = https://github.com/sarang628/Map.git
[submodule "CardInfo"]
	path = CardInfo
	url = https://github.com/sarang628/CardInfo.git
[submodule "Filter"]
	path = Filter
	url = https://github.com/sarang628/Filter.git
[submodule "TorangRepository"]
	path = TorangRepository
	url = https://github.com/sarang628/TorangRepository.git
[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "app/src/main/java/com/sarang/torang/di/finding_di"]
	path = app/src/main/java/com/sarang/torang/di/finding_di
	url = https://github.com/sarang628/finding_di.git
[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
